
<div class="row">


<div class="col-md-6">
<section>


<div class="clearfix">
<my-tabs>
<my-pane title="ProView">
   <p class="lead">   
<h2 class="h3">Monitor Shipments with ProView</h2>
ProView is an online express tracking service. We offer real-time shipment monitoring and automatic notifications via email or text for all of your express pickups and deliveries.
  </p>

  <my-tabs>
    <my-pane title="Overview">
      <p class="lead">
<h2 class="h3">What is ProView</h2>
ProView is our web-based tracking service for Express account holders that provides automatic notifications to you and anyone you specify – via email or text message – when shipments are picked up and delivered. ProView also lets you monitor shipments online by account number, status and more.
This means you're always in the know, whether you're in the office or on the go. And best of all, it provides the shipment information you need to keep your customers and colleagues up to date and in the loop – for free!I
</p>
     </my-pane>

     <my-pane title="Get Started">
  <p>Start</p>
  <div ng-include="express/_add_checkin.html"></div>
     </my-pane>
     <my-pane title="Request Pin">
  <p>Pin</p>
     </my-pane>
  </my-tabs>

</my-pane>

<my-pane title="World">
   <em>Mauris elemntum elementum enim at suscipit.</em>
   <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
  </my-pane>
</my-tabs> 
</div>



</section>
</div>

<div class="col-md-6">
<article ng-controller="Checkin_Ctrl">
     <section ng-controller="NavCtrl">
      <em class="info">
       Welcome {{user.email}}
      </em>
   </section>
<section class='search-form'>
  <form>
   <div class="input-group input-group-lg">
   <label for="tracks" class="sr-only" >Tracking Number</label>
   <input type= "text" name="tracks" class="form-control input-lg" placeholder="Tracking Number" ng-change="search(tracks)" ng-model="tracks">
   <span class="input-group-btn">
    <button class="btn btn-primary btn-lg" ng-click="search(tracks)">
    Track Package
    </button>
   </span>
  </div>
 </form>
 <h1 class="searchedFor" ng-if="searchedFor">
  <small>Searched for:</small>
   {{searchedFor}}
 </h1>
</section>

<section class="search-results" ng-if="checkins.length > 0">
  <header>
    <h1 class="h3">Results</h1>
  </header>
     <ol class="list-group">
        <li class="list-group-item clearfix" ng-repeat="checkin in checkins">

 <h2 class="h3"> {{ checkin.notice }} </h2>

         <h3><small class="text-uppercase">Checked in</small> {{ checkin.time_checked_in | date : "short" }}</h3>
       
    <h2 class="h3"><small>Location: {{ checkin.location }}</small></h2>

             
          <h4 class="pull-right"> Tracking Number: {{ checkin.tracking }}</h4>

      </li>
    </ol>
  </section>

</article>
</div>

</div>
