
<section ng-controller="NavCtrl" class="pull-right">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

    <div class="btn-group btn-group-md" role="group" aria-label="menu">
      <button type="button" class="btn btn-default" ui-sref="express_index">
        Express
      </button>
       <button type="button" class="btn btn-default" ui-sref="shipments">
        Parcel & eCommerce
      </button>
     <button type="button" class="btn btn-default" ui-sref="shipments.list">
        Logistics
      </button>
       <button type="button" class="btn btn-default" ui-sref="customers">
        About Us
      </button>
      <button type="button" class="btn btn-default" ng-hide="signedIn()" ui-sref="register">Register Form
      </button>
      <button type="button" class="btn btn-default" ng-show="signedIn()" ng-click="logout()">Log Out
      </button>
  </div>
</nav>

<div ng-controller="Dropdown_Ctrl">
  <!--simple dropdown-->
  <span uib-dropdown on-toggle="toggled(open)">
   <a href id="simple-dropdown" uib-dropdown-toggle>
    Click me for a dropdown, yo!
  </a>
  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
   <li ng-repeat="choice in items"> <a href>{{choice}}</a></li>
  </ul>
  </span>
  
   <!-- Single button -->
   <div class="btn-group" uib-dropdown is-open="status.isopen">
   <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> Button dropdown <span class="caret"></span>
   </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
   </ul>
  </div>
  <!-- split button -->
 <div class="btn-group" uib-dropdown>
  <button id="split-button" type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger" uib-dropdown-toggle>
   <span class="caret"></span>
   <span class="sr-only">Split button!</span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
   </ul>
  </div> 

   <!-- Single button using template-url-->
   <div class="btn-group" uib-dropdown>
   <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Dropdown using template <span class="caret"></span>
    </button>
   <ul class="dropdown-menu" uib-dropdown-menu template-url="dropdown.html" aria-labelledby="button-template-url"></ul>
   </div>
  
    <!-- Will look into this later -->
<!--  <hr />
<p>
  <button type="button" class="btn btn-default btn-sm" ng-click="toggleDropdown($event)">Toggle button dropdown</button>
  <button type="button" class="btn btn-warning btn-sm" ng-click="disabled = !disabled">Enable/Disable</button>
</p>

<hr>-->
    <!--Single button with keyboard nav -->
  <div class="btn-group" uib-dropdown keyboard-nav>
   <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle> Dropdown with keyboard navigation <span class="caret"></span>   </button>
   <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something Else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
  </ul>
 </div>
 <hr>

</div> 

</section>

<section class="main">
<!--<h1>Burrittoes</h1>-->
<div ng-controller="Time_Ctrl">
Current time is: <span my-current-time="format"></span>
</div>

<div ui-view=""></div>
<div ui-view="contents"></div>
<div ui-view="contacts"></div>
<div ui-view="packages"></div>
<div ui-view="settings"></div>
<div ui-view="express"></div>
<div ui-view="login"></div>
<p ui-view="hin" class="navbar-text pull-right"></p>
</section>

