<div class="row">

<article class="col-md-6 col-md-offset-3">

<section uib-alert ng-show="alert" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()">
  {{alert.message}}
 
</section>


<form ng-submit="login()">
  <div class="row">  
  <div class="form-group col-md-8 col-md-offset-2">
    <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
  </div>
 </div>
  <div class="row">
  <div class="form-group col-md-8 col-md-offset-2">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
  </div>
 </div>
  <button class="btn btn-lg btn-primary">
  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
  Sign in
 </button>

</form>

</article>
</div>


