<nav>
  <ul class="pager">
   <li>
<%= link_to_prev_page @checkin_settings,"&larr; Previous" %>
</li>
 <li class="next">
   <%= link_to_next_page @checkin_settings, "Next &rrar;" %>
</li>
</ul>
</nav>
