
<div class="row">

<div class="col-md-6">
<article ng-controller="Checkin_Ctrl">
     <section ng-controller="NavCtrl">
      <em class="info">
       Welcome {{user.email}}
      </em>
   </section>
<section class='search-form'>
  <form>
   <div class="input-group input-group-lg">
   <label for="tracks" class="sr-only" >Tracking Number</label>
   <input type= "text" name="tracks" class="form-control input-md" placeholder="Tracking Number" ng-change="search(tracks)" ng-model="tracks">
   <span class="input-group-btn">
    <button class="btn btn-primary btn-md" ng-click="search(tracks)">
    Track Shipment
    </button>
   </span>
  </div>
 </form>
 <h1 class="searchedFor" ng-if="searchedFor">
  <small>Searched for:</small>
   {{searchedFor}}
 </h1>
</section>

<section class="search-results" ng-if="checkins.length > 0">
  <header>
    <h1 class="h3">Results</h1>
  </header>
     <ol class="list-group">
        <li class="list-group-item clearfix" ng-repeat="checkin in checkins">

 <h2 class="h3"> {{ checkin.notice }} </h2>

         <h3><small class="text-uppercase">Checked in</small> {{ checkin.time_checked_in | date : "short" }}</h3>
       
    <h2 class="h3"><small>Location: {{ checkin.location }}</small></h2>

             
          <h4 class="pull-right"> Tracking Number: {{ checkin.tracking }}</h4>

      </li>
    </ol>
  </section>

  <section class="search-results" ng-if="checkins.length < 1" style="margin-top:30px;">
   <div ng-controller="CarouselDemoCtrl">
     <div style="height: 305px">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
       <!--<h4>Slide {{slide.id}}</h4>-->
       <p>{{slide.text}}</p>
       </div>
       </div>
      </div>
     </div>
     <!--<div class="row">
      <div class="col-md-6">
       <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
        <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
        <div class="checkbox">
        <label>
        <input type="checkbox" ng-model="noWrapSlides">
        Disable Slide Looping </label>
       </div>
       </div>
      <div class="col-md-6">
       Interval, in millisecond: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
     </div>
    </div>-->
 </div>
  </section>

</article>
</div>


<div class="col-md-6">
<section>

 <div ui-view=""></div>

</section>
</div>

</div>
