<div class="row">

<div class="col-md-6 billing-info">
      <article class="panel panel-info">
        <header class="panel-heading">
          <h2 class="h4">Shipment Listing</h2>
 <section>
   <uib-alert ng-show="alert"
   type="{{alert.type}}"
    close="closeAlert()">
   {{alert.message}}
    </uib-alert>
</section>

        </header>

     <section class="panel-body">
       <article class="well well-sm">

   <nav>
   <ul class="pager">
      <li class="previous">
        <a href="" ng-click="previousPage()">&larr; Previous</a>
       </li>
       <li class="next">
         <a href="" ng-click="nextPage()">Next &rarr;</a>
        </li>
     </ul>
</nav>
      <ol class="list-group">
      <li class="list-group-item clearfix" ng-repeat="setting in settings">

<shipment-summary   pack="setting" view-details-function="viewDetails">
 </shipment-summary>


      </li>
    </ol>
      <nav>
   <ul class="pager">
      <li class="previous">
        <a href="" ng-click="previousPage()">&larr; Previous</a>
       </li>
       <li class="next">
         <a href="" ng-click="nextPage()">Next &rarr;</a>
        </li>
     </ul>
</nav>

       </article>
     </section>

  </article>
 </div>

 <div class="col-md-6 billing-info">
      <article class="panel panel-default">
        <header class="panel-heading">
          <h2 class="h4">Shipment Details</h2>
        </header>

        <section class="panel-body">
       <article class="well well-sm">
         <p class="h4">See details of your shipment</p>
        <div ui-view=''></div>   

        </article>
       </section>

     <footer class="panel-footer">Check your shipments in</div> </footer>
   </article>
 </div>

</div>
