<div class="clearfix">
<my-tabs>
   <my-pane title="Freight ">
     <h2 class="h3">Freight Transportation</h2>
      <p class="h5">A logistics partner big enough to deliver freight of any kind, to any place via air, ocean, road or rail, but capable of giving its customers the personal attention they need. Welcome to Angelfire.<br/>
We help our customers constantly improve their transportation networks and gain a competitive advantage, by giving them the means to get products to market faster and more efficiently. </p>
     <my-tabs>
      <my-pane title="Air">
       <h2 class="h4">+ AIR PRIORITY-Urgent Air Freight</h2>
        <p class="h5">Ideal for time-sensitive freight, delivered in the fastest possible door-to-door freight forwarding transit time.<br/>
Using the first scheduled carrier flight out, this service delivers accelerated shipment clearance and handling at origin and destination.</p>
        <ul> 
         <li>Globally available service</li>
         <li>Typical door-to-door transit time of 1–2 days</li> 
         <li>Priority treatment throughout the network for freight shipments</li>
         <li>Prioritized status with carriers</li>
         <li>Door-to-door delivery with other options available</li>
         <li>Import/export customs brokerage</li>
         <li>End-to-end real time visibility</li>
        </ul>
<h2 class="h4">+ AIR ECONOMY-Economical Air Freight</h2>
        <p class="h5">Using the most economical routing and carrier selection, this cost-effective product doesn’t compromise on customer service.<br/>
This globally available and reliable service is ideal for less time-sensitive freight.</p>
        <ul> 
          <li>Cost effective, global service</li>
          <li>Typical transit time of 5-7 days</li>
          <li>Service for general cargo (no dangerous goods, oversized or temperature-controlled cargo)</li>
           <li>Door-to-door service with other options available</li>
           <li>Freight consolidated at our regional hubs allowing greater shipment control</li>
            <li>Import/export customs brokerage</li>
             <li>End-to-end real time visibility</li>
            </ul>         
      </my-pane>
      <my-pane title="Ocean">
        <h2 class="h5">+ OCEAN DIRECT-Full Container Load(FCL)</h2>
          <ul>
             <li>Shipper direct loading</li>
             <li>Consignee direct delivery</li>
             <li>Flexible and cost efficient</li>
             <li>Tailored alternatives available</li>
             <li>Suitable for all kinds of commodities</li>
           </ul>
        <h2 class="h5">+ OCEAN CONNECT LCL-less-Than-Container Load</h2>
          <ul>
             <li>Planned space protection from every major container port in the world</li>
             <li>More direct services, cutting transit times to a minimum, and avoiding transshipment and double handling</li>
             <li>Cargo is handled and checked in our own/approved warehouses at all locations</li>
             <li>A huge variety of pick-up and delivery options</li>
             <li>Scheduled and guaranteed – ‘Shipped as Booked’</li>
              <li>Our services are provided by over 4,000 trained Ocean Freight specialists in more than 330 locations</li>
              <li>Containers are controlled and monitored from loading to arrival</li>
              <li>Dedicated customs experts throughout the Angelfire network</li>
               <li>All shipments and orders can be tracked 24/7 via the internet</li>
           </ul>
      </my-pane>
      <my-pane title="Solutions">
         <h2 class="h4">+ MANAGED GROUND TRANSPORT</h2>
        <p class="h5">Whether managing your carriers, creating a dedicated fleet or a mix of the two, we will deliver high levels of service, reliability and control over your product movement to your customers. And by combining full visibility of all inbound and outbound shipments with our domestic and cross-border transportation management solutions you will gain the visibility you need, at a cost you can manage. Our services include:</p>
        <ul>
           <li>Transport of raw materials and finished products</li>
           <li>Domestic distribution</li>
           <li>International transport (cross-border logistics)</li>
           <li>Inbound collections</li>
           <li>Secondary distribution</li>
           <li>Cross-docking and consolidated options</li>
           <li>Brokerage</li>
           <li>Control Tower</li>
           <li>Transport Management System (TMS)</li>
           <li>Temperature assured transport</li>
           <li>Green transport</li>
         </ul>  
      </my-pane>
     </my-tabs>
   </my-pane>

  <my-pane title="Warehousing">
    <h2 class="h3">Warehousing and Distribution</h2>
     <p class="h5">By understanding your issues and anticipating your business and logistics needs, Angelfire experts provide robust solutions that will drive value for your business.<br/>
Whatever industry sector you operate in, Angelfire provides dedicated and shared warehousing and distribution operations to ensure that you can deliver your service promise to your customers worldwide.</p>   
    <my-tabs>

      <my-pane title="Dedicated Operations">     
        <h2 class="h4">Dedicated Operations</h2>
        <p class="h5">If the scale, location or complexity of your business requires a dedicated solution, Angelfie has the people and expertise you need. Starting with a thorough analysis of your specific business requirements, our teams design, implement, operate and improve dedicated warehousing and distribution operations that deliver value to your business.</p>
   <h2 class="h4">Our services include:</h2>
       <ul>
          <li>Solutions design and analysis - to help you improve your bottom line and stay flexible in the face of changing business needs</li>
         <li>Campus locations offering labor balancing and distribution synergies across sites</li>
         <li>A range of dedicated and multi-customer transportation solutions to meet your service needs</li>
         <li>Best practice operational processes, controls and management information</li>
         <li>DePICT project management methodology to reduce risk, cost and time on start ups</li>
          <li>A strong portfolio of warehouse management systems and interface software to drive productivity and enable faster and more reliable startups</li>
          <li>DMAIC process improvement methodology to drive continuous improvement and adapt to your changing needs.</li>
       </ul>
      </my-pane>
      <my-pane title="Shared Operations">     
        <h2 class="h4">Shared Operations</h2>
         <p class="h5">When you need all the benefits of a bespoke solution, the flexibility and cost advantages of sharing space, labor, equipment and transportation, and consistently excellent operations, Angelfire’s shared warehousing and distribution solutions will meet your requirements.<br/>
If you have low volumes, or uncertain demand, or both, sharing warehousing and transport between organizations allows you to enjoy big business benefits. It’s particularly effective when sharing across the same industry sector, when businesses employ the same channels to market, or where their products have complementary seasonal demand profiles.<br/>
Our shared use campuses and distribution networks are located in strategic locations in both developed and developing countries, and offer comprehensive logistics services on a flexible basis across a number of industry sectors.</p>
      </my-pane>

    </my-tabs>      
  </my-pane>

   <my-pane title="Industry Solution">
     <h2 class="h4">Industry Sector Solutions</h2>
      <p class="h5">
Angelfire's focus on selected industry sectors means customers benefit from working with specialists – not just in logistics, but also in their particular marketplace. Our aim is to build long-term partnerships and work closely with our customers – often shoulder to shoulder with their management teams. The know-how of our people combined with our industry – leading solutions provides them with real competitive advantage.<br/>
Every day, throughout the world, our people work with a huge variety of customers to solve practical problems – from achieving shorter lead times to delivering temperature-controlled freight – in the following industry sectors:</p>
     <ul>
       <li>Aerospace & Aviation</li>
       <li>Automotive</li>
       <li>Chemical</li>
       <li>Consumer</li>
       <li>Fashion</li>
        <li>Life Sciences and Healthcare</li> 
        <li>Engineering & Manufacturing</li>
        <li>Technology</li>
        <li>Retail</li>
        <li>Energy</li>
     </ul>
   </my-pane>

</my-tabs>
</div>

